#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.icon_LinkedIn {
  display: inline-flex;
  align-self: center;
  height: 1.3em;
  width: 1.3em;
  top: -0.1em;
  
  position: relative;
}

.icon_GitHub {
  display: inline-flex;
  align-self: center;
  height: 1.2em;
  width: 1.2em;
  top: -0.125em;
  padding-left: 3px;
  position: relative;
}

.icon_Resume {
  display: inline-flex;
  align-self: center;
  height: 1.2em;
  width: 1.2em;
  top: -0.125em;
  padding-left: 3px;
  position: relative;
}

.icon:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text_block {
  margin-top: 2em;
  padding: 1em;
  width: 850px;
}

.video-mask{
  border-radius: 10px; 
  overflow: hidden; 
}

.card {
  margin: 1em;
  align-self: center;
}

.read-the-docs {
  color: #888;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2 {
  position: relative;
}
.main-timeline-2::after {
  content: "";
  position: absolute;
  width: 3px;
  /* background-color:#198754; */
  background-image: linear-gradient(#198754, #198754, #242424);
  top: 0;
  bottom: 0;
  left: 73px;
  margin-left: -3px;
}



/* Container around content */
.timeline-2 {
  margin-left: 2.55em;
  align-self: center;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-2::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #198754;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right-2 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the right container (pointing left) */
.right-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-2::after {
  left: -14px;
}

/* Full-width containers */
.timeline-2 {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
}

/* Make sure that all arrows are pointing leftwards */
.timeline-2::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Make sure all circles are at the same spot */
.right-2::after {
  left: 18px;
}

/* Make all right containers behave like the left ones */
.right-2 {
  left: 0%;
}

.cardImage {
  height: 20px;
}

.list_comp {
  text-align: left;
}

/* .timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
  align-self: center;
} */

/* The actual timeline (the vertical ruler) */
.timeline-with-icons {
  position: relative;
  padding-left: 70px;
  padding-right: 25px;
}
.timeline-with-icons::after {
  content: "";
  position: absolute;
  width: 3px;
  /* background-color:#198754; */
  background-image: linear-gradient(#dc3545, #198754, #198754, #242424);
  top: 0;
  bottom: 0;
  left: 73px;
  margin-left: -3px;
}

.timeline-with-icons .timeline-item {
  position: relative;
  align-self: center;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -24px;
  margin-top: 3px;
  background-color: #242424;
  border-style: solid;
  border-color: #198754;
  border-radius: 5px;
  border-width: 2px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:1;
}

.timeline-with-icons .timeline-icon-red {
  position: absolute;
  left: -24px;
  margin-top: 3px;
  background-color: #242424;
  border-style: solid;
  border-color: #dc3545;
  border-radius: 5px;
  border-width: 2px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:1;
}

.footnote {
  font-size: small;
}

